.photos-page {
    padding: 20px;
}
.edit-mode {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-input {
    padding: 5px;
    font-size: 16px;
}

.edit-button, .save-button, .cancel-button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.save-button {
    background-color: #28a745;
    color: white;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
}

.profile-header{
    position: relative;
}

.view-mode button{
    position: absolute;
    top:4px;
    right: 4px;
}

.profile-info{
    padding: 0px !important;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* width: 60%; */
    /* height: 100vh; */
    /* margin-right: 70px; */
    border-radius: 5px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    align-items: center;
}

.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.back-button:hover {
    background-color: #0056b3;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 50px !important;
}

.photo-item {
    width: 100%;
    border-radius: 10px;
}

/* .profile-container{
    display: flex;
    flex-direction: column;
}

.profile-header{
    width: 500px !important;
    align-items: center;
} */
